

body {
  overflow-x: hidden;
}


.intro
{
  background-color:#164717;
  height:auto;
  
}




/* .gradient-custom {
  /* fallback for old browsers 
  background: #0c310c;

  /* Chrome 10-25, Safari 5.1-6 
  background: -webkit-linear-gradient(to bottom, #11270a, rgba(19, 153, 26, 0.699));

   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  
   background: linear-gradient(to bottom, #11270a, rgba(19, 153, 26, 0.699))
} */
 


/* video section */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set the height of the container */
}

.full-width {
  
  width: 90%;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  background-color: #000; /* Set your desired background color */
}


.note
{
color:red
}




.card {
 
  border-bottom: 4px solid rgb(50, 160, 35);
  height: 200px;
}

.feature 
{
  color:rgb(22, 100, 5)
}

.descriptionTitle
{
  color:rgb(22, 100, 5)
}






.faq-card {
  margin-top: 3rem;
  height: auto;
}
.h-100 {
  height: 100%;
}




/* اراء العملاء */

.review
{
  height: 300px !important;
}


/* whatsapp icon */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:60px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}



/*  */
@media (max-width: 991.98px) {
  /* For tablets and smaller screens */
  .col-lg-3 {
    flex: 0 0 50%; /* Two columns */
    max-width: 50%;
  }
}


/* animation */






  /* For desktop screens */
@media (min-width: 992px) {
  /* section 1 */
  
  
}

/* For phone screens */
@media (max-width: 767px) {
  /* section 1 */
  
}

/* For tablet screens */
@media (min-width: 768px) and (max-width: 991px) {
  /* section 1 */

  
  
}




/* cards animation  */




/* @media (max-width: 767px) {
  .col-md-3 {
    flex: 0 0 50%; /* For screens smaller than 768px, make each card occupy 50% of the row 
  }
/* } */ 


.features
{
  color:#164717
  
}
